<library path="src">
  <class name="TactileSeriesPlugin" type="rqt_tactile_time_series.tactile_series_module.TactileSeriesPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      An example Python GUI plugin to create a great user interface.
    </description>
    <qtgui>
      <group>
		  <label>Shadow Tools</label>
		  <icon type="theme">folder</icon>
      </group>
      <label>Tactile Time Series Viewer</label>
      <icon type="theme">applications-utilities</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
